@font-face {
    font-family: "Montserrat";
    src: url('../fonts/montserrat/montserrat-bold.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/montserrat/montserrat-semibold.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/montserrat/montserrat-regular.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/montserrat/montserrat-light.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/montserrat/montserrat-thin.woff2') format('woff2'),
         url('../fonts/montserrat/montserrat-thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
html {
  height: 100%;
}
body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;  
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;  
  background: #270e2a url("../img/body-bg.jpg") no-repeat center top;
  background-size: cover;
}
.event {
  width: 1186px;
  margin: 0 auto;
}

.event__content {
  margin-bottom: 70px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 60px 5px #000;
  padding: 0 100px;
}
.event__content-title {
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  padding: 32px 0;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: url("../img/separator.svg") no-repeat center center;
}
.event__title {
  margin: 0 0 80px 0;
  padding: 0;
  font-size: 45px;
  line-height: 47px;  
  background: linear-gradient(#df6eff, #8409b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.event__counter {  
  display: flex;  
  width: 50%; 
  
}
.event__col {
  border: 1px solid;
  border-image: linear-gradient(90deg, #570875, #9452aa) 1;
  padding: 23px 0;
  width: 107px;
  margin-right: 62px;  
    flex-grow: 0;
  flex-shrink: 0;
}

.event__col:last-child {
  margin-right: 0;
}
.event__counter-descr {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}
.event__place {  
  display: flex;
  flex-wrap: no-wrap;  
}
.event__digit {
  font-size: 46px;
  line-height: 47px;
  font-weight: 100;
}
.event__map {
  width: 197px;
  height: 159px;
}
.event__description {  
  width: 190px;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  text-align: left;
}
.event__map {
  margin-right: 45px;
}
.event__text {
  margin: 0;
  padding: 37px 0;
}
.event__link {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  padding: 22px 50px;
  text-decoration: none;
  border-radius: 50px;
  background: linear-gradient(to bottom, #ab25d4, #741497);
  box-shadow: 0 0 60px 5px #000;
  
}
.event__link:hover {
  background: linear-gradient(to top, #ab25d4, #741497);
  text-shadow: 1px 1px 5px #000;
    box-shadow: 0 0 60px 10px #000;
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .event {
    width: 100%;
    margin: 0 auto;
  }
  .event__counter {
    width: 100%; 
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .event__place {
    width: 100%; 
    justify-content: space-between;
  }
  .flex-container {
    flex-direction: column;
    flex-wrap: wrap;
    background: none;
  }


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}